# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PyInstaller
*.spec
build/
dist/

# Portable package (too large)
portable/
portable.zip
